<%- include('../partials/header') %>

<h2>Todos</h2>

<turbo-frame id="todo-list">
    <form action="list" method="GET">
        <button>Refresh</button>
    </form>
    <div class="todo-list">
        <% for (const todo of todos) { %>
            <%- include('./list-item', { todo }) %>
        <% } %>
    </div>
</turbo-frame>

<turbo-frame id="create-todo">
    <form action="actions/add" method="POST">
        <input type="text" name="content" placeholder="What to do?">
        <button type="submit" value="add">Create new todo</button>
    </form>
</turbo-frame>

<%- include('../partials/footer') %>
