<%- include('../partials/header') %>

<h2>Search Experiment</h2>

<p>See if can make a complex UI widget in Stimulus</p>
<p>In this case, a search box with auto-complete from an API</p>

<input placeholder="Search fruit"/>

<%- include('../partials/footer') %>
