<%- include('../partials/header') %>

<h2>Search Experiment</h2>

<p>See if can make a complex UI widget in Stimulus</p>
<p>In this case, a search box with auto-complete from an API</p>

<form data-controller="on-type-submit" method="get">
    <input data-action="input -> on-type-submit#input" type="text" name="term" placeholder="Search fruit"/>
    <input type="hidden" name="options-target" value="fruit-options"/>
    <ul id="fruit-options"></ul>
</form>

<form data-controller="on-type-submit" method="get">
    <input data-action="input -> on-type-submit#input" type="text" name="term" placeholder="Search vegetables"/>
    <input type="hidden" name="options-target" value="vegetables-options"/>
    <ul id="vegetables-options"></ul>
</form>

<%- include('../partials/footer') %>
