<%- include('../partials/header') %>

<h2>Search Experiment</h2>

<p>See if can make a complex UI widget in Stimulus</p>
<p>In this case, a search box with auto-complete from an API</p>

<div data-controller="search">
    <input data-search-target="input" data-action="input -> search#input" type="text" placeholder="Search fruit"/>
    <ul id="options"></ul>
</div>

<%- include('../partials/footer') %>
