<%- include('../partials/header') %>

<h2>Search Experiment</h2>

<p>See if can make a complex UI widget in Stimulus</p>
<p>In this case, a search box with auto-complete from an API</p>

<turbo-frame id="search">
<form data-controller="on-type-submit" data-on-type-submit-target="form" method="get">
    <input data-action="input -> on-type-submit#input" type="text" name="term" placeholder="Search fruit"/>
    <ul id="options"></ul>
</form>
</turbo-frame>

<%- include('../partials/footer') %>
